<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Passport</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-countries-body">
      <div class="add-countries-header">
        <h1>Your Passport</h1>
        <a class="add-country-link" href="/users/<%= user._id %>/countries/new"
          >Add a Country</a
        >
      </div>
      <ul>
        <% countries.forEach((country) => { %>
        <li>
          <a
            href="/users/<%= user._id %>/countries/<%= country._id %>"
            class="country-container"
          >
            <%= country.country %>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
