<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Your Passport</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Passport</h1>
    <a href="/users/<%= user._id %>/countries/new">Add a Country</a>
    <ul>
      <% countries.forEach((country) => { %>
      <li>
        <a href="/users/<%= user._id %>/countries/<%= country._id %>">
          <%= country.country %>
        </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
