<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= user.username %>'s Passport</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs', { user: user}) %>
    <h1 class="page-title"><%= user.username %>'s Passport</h1>
    <div class="user-country-container">
      <ul>
        <% user.countries.forEach((country) => { %>
        <li class="user-country-list">
          <label class="user-country-label"><%= country.country %> :</label>
          <p><%= country.date %></p>
        </li>
        <% }); %>
      </ul>
    </div>
    <a href="/users" class="back-button">Back to Passport Community</a>
  </body>
</html>
